.content {
  transform: translateX(0) !important;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #f5f5f5;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 12;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.header .container .bg-light {
  background-color: transparent !important;
  padding: 25px 0;
}
.header .container .bg-light .navbar-brand {
  font-weight: bold;
  font-size: 30px;
}
.header .container .bg-light .navbar-collapse {
  flex-grow: 0;
  position: relative;
}
.header .container .bg-light .navbar-collapse .nav-link {
  font-weight: 600;
  font-size: 20px;
  transition: all 0.5s;
  position: relative;
}
.header .container .bg-light .navbar-collapse .nav-link:hover {
  color: rgb(0, 112, 0);
}
.header .container .bg-light .navbar-collapse #btn-shop i {
  z-index: 0;
}
.header .container .bg-light .navbar-collapse #btn-shop p {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
}

.store {
  position: absolute;
  height: 150vh;
  width: 100%;
  right: 0;
  top: 105;
  z-index: 11;
  transition: all 0.5s;
  margin-top: 130px;
}
.store .footer {
  background-color: #fff;
  display: flex;
  justify-content: end;
  height: 60px;
  align-items: center;
}
.store .footer h4 {
  padding-top: 6px;
}
.store .footer button {
  padding: 13px 36px;
  margin: 0 22px 0 15px;
  text-transform: capitalize;
  height: 2.5rem;
  line-height: 0.5rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  border-radius: 2px;
  width: 10rem;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border: none;
  transition: all 0.5s;
  background-size: 200%;
}
.store .footer button:hover {
  background-position: right center;
}
.store .table > :not(caption) > * > * {
  color: #000;
}
.store .table .header__table {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
}
.store .table .header__table ul {
  list-style: none;
  border-color: white;
  list-style: none;
  justify-content: space-between;
  display: flex;
}
.store .table .header__table li {
  display: inline-block;
  padding: 20px 0px 0px;
  display: inline-block;
}
.store .table .header__table li:first-child {
  margin-right: 70px;
}
.store .table .header__table li:nth-child(5) {
  margin-right: 86px;
}
.store .table #sanPham {
  border: none;
}
.store .table #sanPham .sanpham__content {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.store .table #sanPham ul {
  list-style: none;
  border-color: white;
  list-style: none;
  justify-content: space-between;
  display: flex;
}
.store .table #sanPham ul li {
  display: inline-block;
  padding: 20px 0px 0px;
  display: inline-block;
}
.store .table #sanPham ul li p {
  padding-top: 12px;
}
.store .table #sanPham ul img {
  width: 80px;
  height: 55px;
  transform: translate(56px, 0);
  margin-top: 15px;
}
.store .table #sanPham ul:last-child button i {
  font-size: 1.3rem;
}
.store .table #sanPham ul:last-child button:focus {
  box-shadow: none !important;
}
.store .table #sanPham ul .li__first {
  padding: 4px 0px 15px;
}
.store .table #sanPham ul #buy__amount {
  display: flex;
  padding-top: 15px;
}
.store .table #sanPham ul #buy__amount input {
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.store .table #sanPham ul #buy__amount button {
  width: 20px;
  height: 20px;
  outline: none;
  position: relative;
  background: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.store .table #sanPham ul #buy__amount button:hover {
  background-color: #ececec;
}
.store .table #sanPham ul #buy__amount button i {
  font-size: 13px;
  position: absolute;
  top: 2px;
  left: 3px;
  color: #000;
}
.store .table #sanPham ul #buy__amount input {
  height: 20px;
  width: 40px;
  text-align: center;
}/*# sourceMappingURL=card.css.map */