// variables
$c1-0: #fff;
$c1-1: #f5f9fe;
$c1-2: #e2ebfc;
$c1-3: #60a4f4;
$c1-4: #45f3ff;
$c1-5: #2a73dd;
$c1-7: #1d365e;
$c1-8: #333;
$c1-9: #292929;
$c1-10: #000;
$c1-11: #f5f5f5;
$c1-12: #0e1b1f;
$c1-13: #555;
$c1-14: #ff5acd;
$c2-3: #ff3c7b;
// design system (guideline)

// FONT SIZE
$text-xs: 14px;
$text-base: 16px;
$text-sm: 18px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 30px;
$text-2xl: 40px;
$text-3xl: 60px;

// FONT WEIGHT
$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;

$SM: 575px;
$MD: 768px;
$LG: 991.5px;
$XL: 1280px;