@import "base";
@import "reset";
@import "variables";

body {
    background-color: $c1-11;
}

.header {
    position: fixed;
    width: 100%;
    background-color: $c1-0;
    z-index: 12;
    border-bottom: 1px solid rgba(0, 0, 0, .09);

    .container {
        .bg-light {
            background-color: transparent !important;
            padding: 25px 0;

            .navbar-brand {
                font-weight: bold;
                font-size: 30px;
            }

            .navbar-collapse {
                flex-grow: 0;
                position: relative;

                .nav-link {
                    font-weight: 600;
                    font-size: 20px;
                    transition: all 0.5s;
                    position: relative;

                    &:hover {
                        color: rgb(0, 112, 0);
                    }
                }

                #btn-shop {

                    //  position: relative;
                    i {
                        z-index: 0;
                    }

                    p {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        z-index: 1;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
            }
        }


    }
}

.store {
    // background: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 150vh;
    width: 100%;
    right: 0;
    top: 105;
    z-index: 11;
    transition: all 0.5s;
    margin-top: 130px;

    // transform: translateX(1600px);
    .footer {
        background-color: $c1-0;
        display: flex;
        justify-content: end;
        height: 60px;
        align-items: center;

        h4 {
            padding-top: 6px;
        }

        button {
            padding: 13px 36px;
            margin: 0 22px 0 15px;
            text-transform: capitalize;
            height: 2.5rem;
            line-height: .5rem;
            box-sizing: border-box;
            font-size: .875rem;
            border-radius: 2px;
            width: 10rem;
            background-image: linear-gradient(to right,
                    #f55f8d 0,
                    #f8ae56 51%,
                    #f55f8d 100%);
            border: none;
            transition: all .5s;
            background-size: 200%;

            &:hover {
                background-position: right center;

            }

        }
    }

    .table> :not(caption)>*>* {
        color: $c1-10;
    }

    .table {
        .header__table {
            background-color: $c1-0;
            border: 1px solid rgba(0, 0, 0, .09);
            margin-bottom: 10px;

            ul {
                list-style: none;
                border-color: white;
                // box-shadow: 6px 3px 12px #e2ebfc, -2px 0px white;
                list-style: none;
                justify-content: space-between;
                display: flex;
            }

            li {
                display: inline-block;
                padding: 20px 0px 0px;
                display: inline-block;

                &:first-child {
                    margin-right: 70px;
                }

                &:nth-child(5) {
                    margin-right: 86px;
                }
            }
        }

        #sanPham {
            border: none;

            .sanpham__content {

                margin-bottom: 20px;
                background-color: $c1-0;
                border: 1px solid rgba(0, 0, 0, .09);
            }

            ul {
                list-style: none;
                border-color: white;
                // box-shadow: 6px 3px 12px #e2ebfc, -2px 0px white;
                list-style: none;
                justify-content: space-between;
                display: flex;

                li {
                    display: inline-block;
                    padding: 20px 0px 0px;
                    display: inline-block;

                    p {
                        padding-top: 12px;
                    }

                }

                img {
                    width: 80px;
                    height: 55px;
                    transform: translate(56px, 0);
                    margin-top: 15px;
                }

                &:last-child {
                    button {
                        i {
                            font-size: 1.3rem;
                        }

                        &:focus {
                            box-shadow: none !important;
                        }
                    }
                }

                .li__first {
                    padding: 4px 0px 15px;
                }

                #buy__amount {
                    display: flex;
                    padding-top: 15px;

                    // justify-content: center;
                    // transform: translateY(40px);
                    input {
                        border: 1px solid rgba(0, 0, 0, .09);
                    }

                    button {
                        width: 20px;
                        height: 20px;
                        outline: none;
                        position: relative;
                        background: none;
                        cursor: pointer;
                        border: 1px solid rgba(0, 0, 0, .09);

                        &:hover {
                            background-color: #ececec;
                        }

                        i {
                            font-size: 13px;
                            position: absolute;
                            top: 2px;
                            left: 3px;
                            color: $c1-10;
                        }
                    }

                    input {
                        height: 20px;
                        width: 40px;
                        text-align: center;
                    }
                }
            }
        }
    }
}